body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h2 {
    color: #333;
    margin-top: 20px;
    text-align: center;
}

h1 {
    color: #5cb85c;
    text-align: center;
}

body>p {
    text-align: justify;
}

p {
    margin: 20px;
    font-size: 18px;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #5cb85c;
    color: #fff;
    border-radius: 4px;
}

body>img {
    width: 900px;
    align-items: center;
    align-content: center;
}

.table-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* table {
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.table-responsive {
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    color: #333;
}

td {
    color: #555;
}

/* button .btnnn{
    background: #1a72ca;
} */

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* button {
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
} */

/* .btn {
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: #5cb85c;
    cursor: pointer;
} */

.btn2{
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: #343A40;
    border-radius: 3px;
}

.btn3{
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: #1a72ca;
    border-radius: 3px;
}

.btn4{
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: #e03939;
    border-radius: 3px;
}

.active {
    background-color: #5cb85c;
    color: white;
}